{{em-tgraph
data=data
vertexProperties=visibleColumns
entityClicked='entityClicked'
configure='openColumnSelector'
}}
<div class="dag-view-legend">Refresh updates only the tooltip values. When sources & sinks are hidden, double click green bubble to toggle visibility locally.</div>
